/* Override boostrap navbar's default font */
.navbar-custom a{
    font-family: 'Marck Script', cursive;
    font-size: 5vh;
    color: black;
    padding: 1vw;
    padding-top: 1.25vw;
    transition: 0.3s;
}
.navbar-custom a:hover {
    color: #E67E22;
    opacity: 1;
}

main { 
    font-family: "Inconsolata", monospace;
    text-align: center;
    font-size: 2.5vh;
    margin-top: 4vh;
    margin-left: auto;
    margin-right: auto;
}
    

#profile-pic {
    height: 30vh;
    max-width: fit-content;
    border-radius: 10px;
}
@media(max-width: 375px) {
    #profile-pic {
        width: 80%;
        height: auto;
    }
}

.name-color {
    color: #E67E22;
}

#intro-header {
    font-size: 6vh;
}

#info-div {
    margin-top: 4vh;
}

#logo-div {
    font-size: 4vh;
    margin-top: 3vh;
}

i {
    padding: 1vw;
    transition: 0.2s;
}

.fa-linkedin-in {
    color: black;
}

.fa-github {
    color: black;
}

.fa-medium {
    color: black;
}

.fab:hover{
    color: #E67E22;
    opacity: 1;
}

